 
/* * { 

    background-color: #C8D9E8;
} */

h2.meta{
    font-size: 50px;
    font-family: 'Helvetica', sans-serif;
}

.meta_legend{
    display: grid;

    dd{
        grid-row: 1;
        margin: 0px;
        font-size: 15px;
        text-transform: uppercase;
        color: rgb(99, 99, 99);
        font-family: 'Helvetica', sans-serif;
    }

    dt{
        grid-row: 2;
    }
    
}

.selection_column{
    grid-row: 2;
    grid-column: 1;
    /* border: 2px solid black; */
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px grey; */
    margin: 5px;
    background-color: #f2f2f2;
    margin-left: 100px;
    max-width: 80%;
}

.metric_selection{
    margin-left: 35px;
    margin-right: 5px;
    display: grid;
    text-align: center;
    margin-right: 5px;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;

    /* opacity: 80%; */
    /* padding-right: 5px;
    padding-top: 5px; */
    /* font-size: 20px; */
    /* border: 1px solid black; */
    /* border-radius: 5px; */
}

.meta{
    font-size: 40px;
}

.race_selection{
    display: flex;
    /* padding:10px;
    margin:10px; */
    grid-column: 1;
    grid-row: 1;
    
    input{
        width: auto;
        padding-left:30px;
        padding-right:30px;
        padding-top:10px;
        padding-bottom: 10px;
        background-color: transparent;
        border-radius: 5px;
        font-family: 'Helvetica', sans-serif;
    }
}

.family_selection{
    display: flex;
    /* padding:10px; */
    /* margin:10px; */
    grid-column: 2;
    grid-row: 1;
    
    input{
        width: auto;
        padding-left:30px;
        padding-right:30px;
        padding-top:10px;
        padding-bottom: 10px;
        background-color: transparent;
        border-radius: 5px;
        font-family: 'Helvetica', sans-serif;
    } 
}

.elderly_selection{
    display: flex;
    /* padding:25px;
    margin:10px; */
    grid-column: 3;
    grid-row: 1;

    input{
        width: auto;
        padding-left:30px;
        padding-right:30px;
        padding-top:10px;
        padding-bottom: 10px;
        background-color: transparent;
        border-radius: 5px;
        font-family: 'Helvetica', sans-serif;
    }
}

.corporate_selection{
    display: flex;
    /* padding:25px; */
    /* margin:10px; */
    grid-column: 4;
    grid-row: 1;

    input{
        width: auto;
        padding-left:20px;
        padding-right:20px;
        padding-top:5px;
        padding-bottom: 5px;
        background-color: transparent;
        border-radius: 5px;
        font-family: 'Helvetica', sans-serif;
    }
}

input:hover{
    transition: 200ms;
    font-style: bold;
    border-radius: 5px;
}

input:active{
    background-color: rgb(152, 151, 149);
}

input:focus{
    background-color: rgb(78, 182, 161);
    color:white;
}

svg :global(.selection){
    fill-opacity: 10%;
    stroke: black;
    stroke-opacity: 70%;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
}

svg{
    margin:5 0px;
    padding: 10px;
    border: none;
}

svg:hover{
    /* box-shadow: 5px 5px 5px grey; */
}

dl.info
{
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: oklch(100% 0% 0 / 80%);
    box-shadow: 5px 5px 5px lightslategrey;
    border-radius: 5%;
    backdrop-filter: blur(10px);
    margin:0px;
    padding:5px;
    font-family: 'Helvetica', sans-serif;
    transition-duration: 50ms;
    transition-property: opacity, visibility;

    &[hidden]:not(:hover, :focus-within){
        opacity: 0;
        visibility: hidden;
    }
}

.tooltip{
    position: fixed;
    margin:15px;
}

.gridlines{
    stroke-opacity: 0.2;
}

.dots{

    circle.selected{
        fill: rgb(228, 24, 24)
    }

    circle{
        transition: 50ms;
        transform-origin: center;
        transform-box: fill-box;
        &:hover
        {
            transform: scale(1.5);
        }
    }
}

.meta_legend{
    display: grid;

    dd{
        grid-row: 1;
        margin: 0px;
        font-size: 15px;
        text-transform: uppercase;
        color: rgb(99, 99, 99);
        font-family: 'Helvetica', sans-serif;
    }

    dt{
        grid-row: 2;
    }
}

div.full_page{
    display: grid;
    grid-template-columns: 150fr 200fr 10fr;
    grid-template-rows: 10fr auto auto auto;
    /* background-image: linear-gradient(white, rgb(0, 217, 255)); */
    margin-top: 30px;
    margin-bottom: 100px;
    margin-right: 50px;
    /* margin-left: 50px; */
    font-family: 'Helvetica', sans-serif;
}

.narrative1{
    grid-column: 1 / -1;
    grid-row: 1;
    border: 0px solid black;
    /* box-shadow: 5px 5px 5px grey; */
    opacity: 6  0%;
    padding: 0px;
    margin:5px;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.simulate_winter_ban{
    /* border: 1px solid black; */
    grid-column: 4;
    grid-row: 2;
    padding: 25px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    opacity: 80%;
    border-radius: 5px;
    height: fit-content;
    width:fit-content;

    input{
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        background-color: transparent;
    }

    input:hover{
        transition-duration: 1000ms;
        padding:15px;
        /* background-color: aquamarine; */
    }

    input:active{
        /* background-color: aqua; */
        color:black;
    }

    input:focus{
        /* background-color: aqua; */
        color:black;
    }
}

.income_slider{
    grid-column: 1;
    grid-row: 2;
    height: auto;
    display: grid;
    grid-template-rows: 10fr     10fr 10fr;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    /* border-radius: 5px; */
    margin:5px;
    padding: 10px;
    opacity: 80%;
    

    .slider {
        appearance: none; /* removes browser-specific styling */
        width: 175px; /* width of slider */
        height: 25px; /* height of slider */
        background: #59ba69 ; /* orange background */
        outline: none; /* remove outline */
        border-radius: 50px; /* round corners */
        
    }
    .slider:hover{
        box-shadow: 5px 5px 5px rgb(147, 121, 121);
    }
    
    .slider::-webkit-slider-thumb {
      appearance: none; /* removes browser-specific styling */
      width: 20px; /* handle width */
      height: 20px; /* handle height */
      border-radius: 50%; /* make it circular */
      background: rgb(71, 71, 71); /* white color */
      cursor: pointer; /* cursor on hover */
    } 

    .slider_label{
        font-style: italic;
        font-size: 25px;
        font-family: 'Helvetica', sans-serif;
    }
}

.map_visualization{
    grid-column: 4;
    grid-row: 3;
    height: fit-content;
    padding-right:10px;

    section{
        border: 1px solid black;
        border-radius: 3px;
        box-shadow: 5px 5px 5px grey;
        padding:10px;
        margin-top:10px;
        margin-bottom:10px;
    }
}

.eviction_animation{
    grid-column: 1 / -1;
    margin-top: -80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}

div.full_graph{
    display: subgrid;
    padding-left: 2fr;
    /* border: 1px solid black; */
    margin:5px;
    margin-left: 20px;
    margin-top: 20px;

    .boxplot{
        grid-column: 2 / 3;
        grid-row: 3;
        width:1100px;
        height:500px;
    }   
}